doctype 5
html
  head
    //title= title
    meta(id="viewport", name="viewport", content="width=device-width, minimum-scale=.5, maximum-scale=.5, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="javascripts/jquery-1.9.1-min.js")
    script(src="/socket.io/socket.io.js")
    script(src="javascripts/views.js")
    link(rel="icon", type="image/png", href="img/favicon.ico")
  body#layout
    block content
