extends layout

block content
    section#controls.drum-controls
        button#control1.play-note.drum-control(data-note="1") Kick
        button#control2.play-note.drum-control(data-note="2") Snare
        button#control3.play-note.drum-control(data-note="3") Hat
        button#control4.play-note.drum-control(data-note="4") Tom
