extends layout

block content
    h1 druuummmmssss
    button.play-note(data-note="1") Kick
    button.play-note(data-note="2") Snare
    button.play-note(data-note="3") Hat
    button.play-note(data-note="4") Tom
