extends layout

block content
    section#controls.key-controls
        button#control1.play-note(data-note="1") Hi
        button#control2.play-note(data-note="2") Mid
        button#control3.play-note(data-note="3") Low
