#container
    #topnav
        #logo.icon
        #drumicon.icon
        #bassicon.icon
        #pianoicon.icon
        #saxicon.icon
        #guitaricon.icon
    #metronome
    #controls
        block content
